@font-face {
  font-family: 'Apple Chancery';
  font-style: normal;
  src: url('./assets/AppleChancery.ttf') format('truetype');
}

body {
  overflow-x: hidden;
}

/* body * {
  overflow-x: hidden;
} */